In [ ]:
# Question 1: Create a list of first 10 square numbers
print("Question 1: Create a list of first 10 square numbers")
# Your code here
square_numbers=[]
for i in range(1,11):
  square_numbers.append(i**2)
  print (square_numbers)

Question 1: Create a list of first 10 square numbers
[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
# Your code here
numbers=[1,2,3,4,5,6,7,8,9,10]
sum_of_evens=0
for num in numbers:
  if num % 2==0:
    sum_of_evens = num
    print(sum_of_evens)

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2
4
6
8
10

In [ ]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
x = [1,2,2,3,4,4,5,6,6,7]
num_x=list(set(x))
print(num_x)

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
# Your code here
x = [64,34,25,12,22,11,90]
x.sort()
print(x)

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
[11, 12, 22, 25, 34, 64, 90]

In [ ]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")
x=[15,23,31,42,56,78,91]
average=sum(x)/len(x)
print(average)

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
48.0

In [ ]:
# Question 6: Create a list of first 15 Fibonacci numbers
print("\nQuestion 6: Create a list of first 15 Fibonacci number

In [ ]:
# Question 7: Find the second largest numbers in [45, 67, 23, 89, 12, 34, 78]
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
x=[45, 67, 23, 89, 12, 34, 78]
secondlargestnumber=sorted(set(x))[-2]
print(secondlargestnumber)

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
78

In [ ]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")

x=[1,2,3,4,5,6,7,8,9,10]
print(x[::-1])

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")
# Your code here
x=[1,5,2,5,3,5,4,5,6]
print(x.count(5))

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
4

In [ ]:
# Question 10: Create a list of prime numbers between 1 and 50
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")
# Your code here

In [ ]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
x = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
s=x[0]+x[1]+x[2]
print(s)

Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")
# Your code here
a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]
c =set(a) & set(b)
print(list(c))

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
[4, 5]

In [ ]:

# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")
# Your code here
x = [[1, 2], [3, 4], [5, 6]]
print(x)

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]

In [ ]:

# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
S=[[1,2,3], [4,5,6], [7,8,9]]

X1=S[0]

X2=S[1]

X3=S[2]

Y1=sum(n1)

Y2=sum(n2)

Y3=sum(n3)

Y1,Y2,Y3

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

(6, 15, 24)

In [6]:


# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")

# Your code here
x=[[1, 5, 3], [9, 2, 7], [4, 8, 6]]
y=[max(sublist) for sublist in x]
print(y)

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
[5, 9, 8]

In [12]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

print("\nQuestion 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")

# Your code here
s=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
y1=s[0]
y2=s[1]
z1=y1[0]
z2=y1[1]
x1=y2[0]
x2=y2[1]
print(sum(z1)+sum(z2)+sum(x1)+sum(x2))

Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
36

In [14]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]

print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")

# Your code here
x = ["apple", "banana", "cherry", "date"]
print(len(x[0]), len(x[1]), len(x[2]), len(x[3]))

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
5 6 6 4